.ai-damage-assessment {
    margin-top: 10px;
    margin-right: 10px;
    max-width: max(50%, 500px);
}

.ai-damage-assessment>p>.label {
    font-weight: 600;
}

.ai-damage-assessment>p {
    margin-top: 6px;
    line-height: 1.5rem;
}