.overview {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 28px;
    z-index: 100;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-style: italic;
    margin: 20px 0px;
}

.data {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: right;
}

.border {
    width: 75%;
    margin: 20px auto;
    border-bottom: 3px solid #999999;
}