* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #F0F0F0;
    color: #222222;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {
    font-size: 1.5rem;
    padding-left: 10px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.content {
    font-size: 1rem;
}

.dashboard-content {
    display: flex;
    /*border: 1px solid black;*/
}


.sidebar {
    flex-grow: 1;
    max-width: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
}

.general-area {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.map {
    height: 500px;
    width: 100%;
}


.tools {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background: #cdcdcd;
    color: black;
}