Popup>div {
    display: none;
}

.location-info {
    background: white;
}

.map-legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333333;
    z-index: 1000;
}

.map-legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: white;
}

.map-legend img {
    width: 20px;
    height: 34px;
    margin-right: 10px;
}
